@media screen and (max-width:1141px) {
    nav ul{
        font-size: 1.3rem;
    }

    .header_content h1{
        font-size: 4rem;
    }

    .header_content p{
        font-size:2.5rem;
    }
    .header_content{
        padding-top: 90px;
    }
}


@media screen and (max-width:1046px) {
    nav ul{
        display: none;
    }

    nav i{
        display: block !important;
        font-size: 3rem;
        cursor: pointer;
    }
}

@media screen and (max-width:766px) {
    .header_content h1{
        font-size: 3rem;
        line-height: 50px;
    }

    .header_content p{
        font-size: 2rem;
        line-height: 35px;
    }
}

@media screen and (max-width:1287px) {
    .footer-nav ul{
        flex-direction: column;
        gap:0px
    }
    .footer-top{
        height: 480px;
        padding-right: 0px;
        padding-top: 40px;
    }
}

@media screen and (max-width:644px) {
   
    .first-section {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      }
    .first-part {
        min-width: 320px;
      }
      
      .second-part {
        min-width: 320px;
      }

      .second-section {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      }

      .second-section-center-card {
        min-width: 320px;
      }

      .second-section-card {
        min-width: 320px; 
      }

      .third-section {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        padding-top:55px;
        gap:55px;

      }

      .third-section-left-side {
        min-width: 320px !important;
      }

      .third-section-right-side {
        min-width: 320px;
      }

      .footer-bottom{
        flex-direction: column;
        text-align: center;
        height: 90px;
        justify-content: center;
      }

      .second-section-card{
        padding:50px 10px 0px 10px;
      }
      .second-section-center-card{
        padding:50px 10px 0px 10px;
      }

      .card-header{
        gap:25px;
      }
      .footer-top{
        padding-left: 0px;
      }
      .office-location h5{
        font-size: 1.5rem;
      }

      .fourth-section{
        padding: 63px 63px;
      }
}



@media screen and (max-width:320px) {
   
    .header_content h1{
        font-size: 2rem !important;
    }

    nav img{
        width: 100px;
        height: 60px;
    }
    .header_content{
        padding-top: 0;
    }
    .header_content h1{
        line-height: 30px;
    }
    .header_content p{
        font-size: 1.6rem !important;
    }
    .footer-top{
        height: 510px;
    }

    .office-location h5{
        font-size: 1rem;
    }

    .footer-nav{
        flex-direction: column;
    }
    .footer-bottom p{
        font-size: 1rem;
    }

    .footer-bottom{
        flex-direction: column;
        justify-content: center;
    }
    .footer-bottom p{
        line-height: 15px;
        text-align: center;

    }
    .footer-nav ul li a{
        font-size: 1.5rem;
    }

    .fourth-section h2{
        font-size: 2rem;
        line-height:35px;
    }

    .fourth-section{
        padding: 0;
    }

    .fourth-section p{
        font-size: 1rem;
        line-height:25px;
        margin-bottom:25px;
    }

    .fourth-section button{
        font-size: 1rem;
        padding: 10px 10px;
    }

    .right-side-content h4{
        font-size: 1.5rem;
        text-align: center;
    }

    .right-side-content{
        gap:20px;
        flex-direction: column;
    }

    .third-section-left-side h2{
        font-size: 2rem;
        margin-bottom:5px;
    }

    .third-section-left-side p{
        font-size: 1.3rem;
    }
    .third-section-left-side button{
        padding: 17px 17px;
        font-size: 1rem;
    }
    .third-section-left-side{
        min-width: 320px;
    }
    .third-section-right-side{
        margin-left: 0 !important;
    }

    .third-section-left-side{
        margin-left: 10px !important;
    }
    .first-part{
        margin-left: 10px !important;
    }

    .second-part{
        margin-left: 10px !important;
        padding-right: 25px;

    }
   
    
}


@media screen and (max-width:1080px) {
    .bg_color{
        clip-path: none;
        justify-content: center;
    }

    .header_content h1{
        text-align: center;
        font-size: 2.5rem;
    }

    .header_content p{
        text-align: center;
        font-size: 2rem;
    }

    .first-part h2{
        font-size: 2rem;
    }

    .first-section button{
        margin-top: 40px;
       padding:15px 15px ; 
    }

    .first-section-paragraph{
        font-size: 1.2rem;
    }

    .third-section-left-side h2{
        font-size: 2.5rem;
    }

    .third-section-left-side p{
        font-size: 1.3rem;

    }

    .third-section-left-side button{
        padding:15px 15px ; 
    }

    .fourth-section h2{
        font-size: 2.5rem;
    }

    .fourth-section p{
        font-size: 1.5rem;
    }

    .fourth-section button{
        padding:15px 15px ; 

    }

    .right-side-content h4{
        font-size: 2rem;
    }
    .first-part{
        margin-left:50px;
        margin-right:50px;
    }

    .second-part{
        margin-left:50px;
        margin-right:50px;
    }

    .third-section-left-side{
        margin-left:50px;
        margin-right:50px;
    }
    .third-section-right-side{
        margin-left:50px;
        margin-right:50px;
    }
    

}

@media screen and (max-width:500px) {

    .fourth-section{
        padding:63px 15px
    }
    .footer-nav{
        flex-direction: column;
    }

    .footer-top{
        height: 525px;
    }
    .footer-nav ul li{
        text-align: center;
    }
}
